<strong>Olá, {{ owner }}!</strong>
<p>Novo cadastro de inscrição no meetup {{ meetup }}.</p>
<p>
  <strong>Dados do inscrito:</strong> <br />
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
